@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #334155;
  /* dark-slate */

  --color-deep-navy: #123B5D;
  /* slate-900 */
  --color-corporate-blue: #1e3a8a;
  /* blue-900 */
  --color-fresh-green: #10b981;
  /* emerald-500 */
  --color-light-blue: #f0f9ff;
  /* sky-50 */
  --color-cool-gray: #f8fafc;
  /* slate-50 */
  --color-dark-slate: #334155;
  /* slate-700 */
  --color-teal-sec: #2F7D69;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-deep-navy: var(--color-deep-navy);
  --color-corporate-blue: var(--color-corporate-blue);
  --color-fresh-green: var(--color-fresh-green);
  --color-light-blue: var(--color-light-blue);
  --color-cool-gray: var(--color-cool-gray);
  --color-dark-slate: var(--color-dark-slate);
  --color-teal-sec: var(--color-teal-sec);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}